* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 36px;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

.myEditor {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
  flex-grow: 1;
  max-height: 297mm;
}

.resumeWindow {
  min-width: 245mm;
}

.App {
  text-align: center;
  height: 100%;
}

.highlight {
  color: rgb(255, 0, 0);
}

.content {
  display: flex;
  justify-content: flex-start;
}

#resume {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: #000000 1px solid;
  text-align: left;
  overflow: hidden;
  max-height: 297mm;
  height: 297mm;
  margin: 0;
}
